{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome !</h1>

    <p>Hello! My name is Oussama Ben Zayed, I'm a computer science student and an IoT enthousiast.<br>You'll find in
        my blog many articles written by me about different IoT topics. Have a nice reading!</p><br><br>
    <p>Disclaimer : This is not a real blog. It was created only for learning purpose.</p>

{% endblock %}