{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue  dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolores rem consequatur reiciendis eligendi laborum molestias aspernatur ea illum laudantium id, delectus voluptatem quo dolorem. Officiis, dolorem qui vitae perferendis expedita, adipisci, reprehenderit consequuntur voluptatum vel sapiente cupiditate! Animi, praesentium.</p>
<p>Labore at tempore aspernatur quia a cumque molestiae incidunt voluptate sint temporibus quis quisquam, enim facilis pariatur! Aspernatur, voluptate totam quos quasi nihil sed repellendus repudiandae fuga iusto qui illum quaerat aut consequatur odio id repellat veritatis adipisci temporibus obcaecati.</p>
{% endblock %}